apiVersion: v1
kind: Namespace
metadata:
  name: cattle-system
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: "{{ letsencrypt_cluster_issuer_name }}"
spec:
  acme:
    email: "{{ letsencrypt_email }}"
    server: "{{ letsencrypt_server }}"
    privateKeySecretRef:
      name: "{{ letsencrypt_cluster_issuer_name }}-account-key"
    solvers:
      - http01:
          ingress:
            class: "{{ letsencrypt_ingress_class }}"
